head
    include includes/head.pug
div(class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm")
    div(class="col-md-12")
        form(action="/create-lists" method="POST")
            div(class="form-group")
                label(for="firstName") Добавить заметку
                input(type="text", class="form-control", id="title", aria-describedby="emailHelp", name="title", placeholder="Введите задачу")
            button(type="submit", class="btn btn-primary") Сохранить