doctype html
html
    head
        include includes/head.pug

        div(class="container")
            block content
            div(class="container")
                if todos.length
                    div(class="row")
                        ul
                            each todo in todos
                                li(class="todo" id=todo.id.toString())
                                    span=todo.title
                                    a(href=`lists/${todo.id}`) Подробнее
                else
                    p Нет записей
        
        footer
            include includes/footer.pug
